.alert-top {
	position: fixed; 
	top: 24px; 
	left: 0; 
	z-index: 100000;
	padding: 0 12px;
}

.alert-bottom-right {
	position: fixed; 
	bottom: 24px; 
	z-index: 100000;
	padding: 0 12px;
	justify-content: flex-end !important;
}

.table.table-sortable {
	thead th {
		cursor: pointer;
	}
}

.bg-lightest-primary {
	background: lighten($brand-primary, 46) !important;
}

.border-elementary {
	border-color: lighten($elementary, 40) !important;
}

.border-beginner {
	border-color: lighten($beginner, 40) !important;
}

.border-intermediate {
	border-color: lighten($intermediate, 35) !important;
}

.border-advanced {
	border-color: lighten($advanced, 35) !important;
}

.bg-elementary {
	background: lighten($elementary, 40) !important;
	color: darken($elementary, 12);
}

.bg-beginner {
	background: lighten($beginner, 40) !important;
	color: darken($beginner, 8);
}

.bg-intermediate {
	background: lighten($intermediate, 35) !important;
	color: darken($intermediate, 5);
}

.bg-advanced {
	background: lighten($advanced, 35) !important;
	color: darken($advanced, 5);
}

.text-elementary {
	color: darken($elementary, 40);
}

.text-beginner {
	color: darken($beginner, 40);
}

.text-intermediate {
	color: darken($intermediate, 40);
}

.text-advanced {
	color: darken($advanced, 40);
}

textarea {
	overflow-x: hidden;
}

a {
	color: $brand-primary;
}

.no-underline:hover {
	text-decoration: none;
}

a:hover {
	color: darken($brand-primary, 5);
}

.navbar-brand {
	img {
		width: 26px;
		border-radius: 50%;
		vertical-align: sub;
	}
}

.btn:focus,.btn:active, a:focus, a:active, button:focus, button:active {
   outline: none!important;
}

.btn-default {
	background: $brand-primary;
	color: white;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
	color: white;
	background: darken($brand-primary, 3);
}

.text-brand {
	color: $brand-primary;
}

.list-style-none {
	li {
		list-style-type: none;
	}
}

.btn-teal:disabled {
  color: #fff !important;
  background-color: #4dc0b5;
  border-color: #4dc0b5;
}