@include media-breakpoint-down(sm) {
	.navbar-nav {
		margin-top: 0.5rem !important;
		margin-bottom: 0.5rem !important;

		.nav-item {
			border-bottom: 1px solid #dee2e6 !important;
			padding-top: 0.5rem !important;
			padding-bottom: 0.5rem !important;
		}
	}

	#phone-display {
		img {
		    margin-left: -100px;
		}
	}

	footer {
		.social-icons {
			font-size: 1.25em;
		}

		.mb-5 {
			margin-bottom: 1.5rem !important;
		}
	}

	footer.py-6 {
		padding-bottom: 3rem !important;
		padding-top: 3rem !important;
	}

	#tags-search-container {
		overflow-x: scroll;

		#tags-search {
			width: 1500px;
			justify-content: left !important;
		}
	}
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(xl) {

}
