@include media-breakpoint-down(sm) {
	.card-columns {
	    column-count: 2 !important;
	}

	#pills-tab a.nav-link {
		padding-left: .5rem!important;
		padding-right: .5rem!important;
		font-size: .9em;
	}

	.hide-on-sm {
		display: none !important;
	}

	.chord-info > div {
		flex-direction: column;

		> div:first-of-type {
		    padding: 0 1.5rem;
		    text-align: center;
		}
	}

	.note button {
	    font-size: 1.2em;
	}

	button#gift {
		bottom: 60px !important;
	}
	
	.suggestion-card {
		.card-img-top {
			height: 160px !important;
		}
	}

	.dropdown-menu {
		border: none !important;
	}

	input[name="search"] {
		font-size: 1.6em !important;
	}

	.dataTables_length {
		display: none !important;
	}

	.dataTables_paginate {
		margin-top: 16px;

		.pagination {
			justify-content: center;
		}
	}

	.tags-quick-edit {
		width: 580px!important;
	}

	.dataTables_filter label {
		width: 100%!important;
	}

	#blog-post {
		h1 {
			font-size: 2.25rem !important;
		}

		.font-lg {
			font-size: 1.32em !important;
		}

		iframe {
			width: 100% !important;
		}
	}

	.navbar-nav {
		.nav-item {
			border-bottom: 1px solid #dee2e6 !important;
			padding-top: 0.5rem !important;
			padding-bottom: 0.5rem !important;
		}
	}

	footer {
		.social-icons {
			font-size: 1.25em;
		}

		.mb-5 {
			margin-bottom: 1.5rem !important;
		}
	}

	footer.py-6 {
		padding-bottom: 3rem !important;
		padding-top: 3rem !important;
	}

	#tags-search-container {
		overflow-x: scroll;

		#tags-search {
			width: 1500px;
			justify-content: left !important;
		}
	}

	.keyboard-white-key {
		> .dot {
			width: 19px !important;
			height: 19px !important;
		}
	}

	.keyboard-black-key {
		width: 24px !important;
		right: -13.3px !important;

		> .dot {
			width: 18px !important;
			height: 18px !important;
		}
	}

	.grid-sizer, .grid-item { width: 50% !important; }
}

@include media-breakpoint-down(md) {
	.grid-sizer, .grid-item { width: 25%; }

	.inline-on-collapse {
		display: inline-block !important;
	}

	.hide-on-collapse {
		display: none !important;
	}

	.notifications-count {
		transform: translate(-50%, -50%);
	}
}
@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(xl) {
	.card-columns {
	    column-count: 4;
	}
}
