#mainNav.navbar-dark .navbar-collapse .navbar-sidenav, .navbar {
	background: $body-bg;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background: darken($body-bg, 8);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
	background: lighten($body-bg, 8);
}

.bg-primary {
	background: $brand-primary !important;
}

.bg-dark {
	background: $body-bg;
}

.card {
	border: none;
}

.scroll-to-top {
	right: 1em;
	bottom: 1em;
}
