@import "~bootstrap/scss/bootstrap";
@import "~jquery-ui-bundle/jquery-ui.min";
@import "variables";

@import "components/datatables";
@import "components/panel";
@import "components/toggle";
@import "components/tinymce";
@import "components/dropzone";
@import "components/animations";
@import "components/sort";
@import "components/notifications";
@import "components/tabs";

// Custom Variables
$body-bg: #e9ecef;

@import "bootstrap-custom";
@import "responsive";
@import "global";
@import "brand/buttons";
@import "brand/colors";
@import "brand/fonts";
@import "brand/corners";

html, body {
	background-color: white;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after, #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	content: none;
}

.nav-link-collapse {
	@extend .d-flex, .justify-content-between;
}

footer.sticky-footer, #mainNav.fixed-top.navbar-light .sidenav-toggler, .breadcrumb, .navbar {
    background-color: #F8F9FF;
}

.bg-pastel {
	background: #fffbf1 !important;
	color: #997723;
}

.random-pill-1 {
	background: #fdf1f1 !important;
	color: darken(#fdf1f1, 40);
}

.random-pill-2 {
	background: #E6F4F1 !important;
	color: darken(#E6F4F1, 40);
}

.random-pill-3 {
	background: #fdf7e8 !important;
	color: darken(#fdf7e8, 40);
}

.random-pill-4 {
	background: #eaeaff !important;
	color: darken(#eaeaff, 40);
}

.page-item.active .page-link {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

.page-link {
	color: $brand-primary;
}
