@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min";
@import "~jquery-ui-bundle/jquery-ui.min";
@import '~swiper/dist/css/swiper.min';
@import 'vendor/animate';

@import "components/swiper";
@import "components/tinymce";
@import "components/animations";
@import "components/toggle";
@import "components/music";
@import "components/search";
@import "components/masonry";
@import "bootstrap-custom";
@import "responsive";
@import "variables";
@import "global";

iframe {border: 0;}

button:focus {outline:0;}

.embed-responsive-a4 {
  padding-bottom: 141.42%;
}

.input-invisible {
	background-color: transparent !important;
	border: 0;
}

.selected-tag {
	background: #70cfa7 !important;
	color: white;
}

.text-primary {
	color: $brand-primary !important;
}

.bg-primary {
	background-color: $brand-primary;
}

.btn-primary {
	color: white !important;
	background-color: $brand-primary;
	border-color: $brand-primary;

	&:hover {
		color: white !important;
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}

	&:active {
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}
}

.btn-primary-outline {
	color: $brand-primary !important;
	background-color: transparent;
	border-color: $brand-primary;

	&:hover {
		color: white !important;
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}

	&:active {
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}
}

input.input-light {
	transition: .2s;
	background: $grey-lighter;
	border: 0;

	&:hover {
		background-color: $grey-light;
	}

	&:active {
		background-color: $grey-light;
	}

	&:focus {
		background-color: $grey-light;
	}
}

input.input-center {
	text-align: center;
}

input.input-center::-webkit-input-placeholder {
    text-align: center;
  }

  input.input-center:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
  }

  input.input-center::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
  }

  input.input-center:-ms-input-placeholder {  
    text-align: center; 
  }

  .fadeInUp {
  	animation-duration: .2s;
  }