@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min";
@import "~jquery-ui-bundle/jquery-ui.min";
@import '~swiper/dist/css/swiper.min';
@import '~flag-icon-css/css/flag-icon.min';
@import '~plyr/dist/plyr';
@import 'vendor/animate';

@import "components/swiper";
@import "components/cards";
@import "components/tinymce";
@import "components/animations";
@import "components/toggle";
@import "components/music";
@import "components/form";
@import "components/search";
@import "components/sorting";
@import "components/masonry";
@import "components/sort";
@import "components/pieces";
@import "components/dragscroll";
@import "components/tabs";
@import "components/menu";
@import "components/stripe";
@import "views/blog";
@import "views/quizzes";
@import "views/crashcourse";
@import "views/circle-of-fifths";
@import "bootstrap-custom";
@import "responsive";
@import "variables";
@import "global";

h1 {
	font-size: 2.75rem;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

body {
	letter-spacing: .025em;
}

.navbar-nav .nav-link {
	white-space: nowrap;
}

.navbar-light .navbar-toggler {
	border: 0;
}

.navbar-nav .show>.nav-link {
	color: rgba(0,0,0,.5) !important;
}

.navbar-nav .nav-link:hover {
	color: rgba(0,0,0,.7) !important;
}

.accent-bottom::after {
	content: '';
	display: block;
	background-color: #0055fe;
	width: 100px;
	border-radius: 2px;
	height: 7px;
	margin-top: 1.5rem;
}

.font-serif {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: normal;
	letter-spacing: .003em;
}

.blog-post {
	font-size: 1.15em;
	letter-spacing: .025em;
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4 {
	margin-bottom: 1.5rem;
}

.card:hover .card-overlay {
	opacity: .6 !important;
}

.breadcrumb {
	background-color: transparent;
	font-size: 80%;
}

iframe {border: 0;}

button:focus {outline:0;}

.card-columns {column-gap: 0 !important;}

.embed-responsive-a4 {
  padding-bottom: 141.42%;
}

.input-invisible {
	background-color: transparent !important;
	border: 0;
}

.selected-tag {
	background: #70cfa7 !important;
	color: white;
}

.text-primary {
	color: $brand-primary !important;
}

.bg-primary {
	background: $brand-primary !important;
}

.btn-primary {
	color: white !important;
	background-color: $brand-primary;
	border-color: $brand-primary;

	&:hover {
		color: white !important;
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}

	&:active {
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}
}

.btn-primary-outline {
	color: $brand-primary !important;
	background-color: transparent;
	border-color: $brand-primary;

	&:hover {
		color: white !important;
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}

	&:active {
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}
}

input.input-light {
	transition: .2s;
	background: $grey-lighter;
	border: 0;

	&:hover {
		background-color: $grey-light;
	}

	&:active {
		background-color: $grey-light;
	}

	&:focus {
		background-color: $grey-light;
	}
}

input.input-center {
	text-align: center;
}

input.input-center::-webkit-input-placeholder {
    text-align: center;
  }

  input.input-center:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
  }

  input.input-center::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
  }

  input.input-center:-ms-input-placeholder {  
    text-align: center; 
  }

  .fadeInUp {
  	animation-duration: .2s;
  }