@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min";
@import "~jquery-ui-bundle/jquery-ui.min";
@import '~swiper/dist/css/swiper.min';
@import '~flag-icon-css/css/flag-icon.min';
@import '~plyr/dist/plyr';
@import 'vendor/animate';

@import "bootstrap-custom";
@import "responsive";
@import "variables";
@import "global";

@import "components/swiper";
@import "components/cards";
@import "components/tinymce";
@import "components/animations";
@import "components/toggle";
@import "components/music";
@import "components/form";
@import "components/search";
@import "components/sorting";
@import "components/masonry";
@import "components/sort";
@import "components/pieces";
@import "components/dragscroll";
@import "components/tabs";
@import "components/menu";
@import "components/stripe";

@import "views/blog";
@import "views/quizzes";
@import "views/crashcourse";
@import "views/circle-of-fifths";

@import "brand/buttons";
@import "brand/colors";