table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    content: none !important;
}

.dropdown-toggle:after {
  display: none !important;
}

.dataTables_main_column {
	min-width: 260px;
}

.dataTables_wrapper > .row:nth-of-type(2) {
  overflow-x: auto;
}

div.dataTables_paginate li.previous a:before, div.dataTables_paginate li.next a:after {
  content: none !important;
}
div.dataTables_paginate li.previous > a, div.dataTables_paginate li.next > a {
  padding: .5rem .75rem!important;
}