.result-card:hover .card-content {
  transform: translateY(-120%);
}

.result-card:hover .card-action {
  bottom: 0 !important;
}

#pdf-container .pdf-control:hover button {
  opacity: .6 !important;
}

.hands-lg {font-size: 240%;}