.result-card:hover .card-content {
  transform: translateY(-120%);
}

.result-card:hover .card-action {
  bottom: 0 !important;
}

#pdf-container .pdf-control:hover button {
  opacity: .6 !important;
}

.hands-lg {font-size: 240%;}

.piece-header {
  text-align: center;
}

// .piece-background {
//   width: 100%;
//   height: 220px;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   clip-path: ellipse(85% 100% at 50% 0%);
// }