.pill-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    button {
        border: 1px solid #e5eaf1;
        border-radius: 24px;
        padding: 8px 19px;
        color: #505c70 !important;
        background: #f4f6fa;
        font-size: 12px;
        cursor: pointer;
        &[aria-pressed=true], &[aria-selected=true] {
            color: white !important;
            background: #0055fe;
            border-color: #0055fe;
        }
        &:hover:not(:disabled) { border-color: #0055fe; }
        &:focus-visible { outline: 3px solid #0055fe; outline-offset: 5px; }
        &:disabled { opacity: .5; cursor: default; }
    }
}
