.search-bar input { 
	text-indent: 30px;
	border: 0; 
	padding-bottom: .35rem;
	border-radius: 0;
}
.search-bar .fa-search { 
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 15px;
}

.piece-result:not(:last-of-type) {
    border-bottom: 1px solid #dee2e6 !important;
}