.swiper-container {
    width: 326px;
    overflow: visible;
}

.swiper-nav {
    display: flex;
    min-height: 48px;
    align-items: center;
    justify-content: space-evenly;
    margin: 32px auto 0;
}

.swiper-pagination {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 32px;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    box-shadow: 0 8px 35px 0 rgba(50, 50, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 8px;
    text-align: center;
    padding: 56px 16px;
    height: initial;
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
}

.swiper-slide:hover {
    opacity: 1;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-slide::before {
    background-image: url('../images/icons/quote-left.svg');
    top: 16px;
    left: 16px;
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
}

.swiper-slide::after {
    background-image: url('../images/icons/quote-right.svg');
    top: 16px;
    right: 16px;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    opacity: .2;
    background-color: #3490dc;
    height: 12px;
    width: 12px;
    margin: 8px;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
}

.swiper-button-next {
    background-image: url('../images/icons/dart-right.svg');
}

.swiper-button-prev {
    background-image: url('../images/icons/dart-left.svg');
}

.swiper-navigation-arrow {
    box-shadow: 0 8px 35px 0 rgba(50, 50, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    transition: box-shadow 0.2s ease-in-out;
    position: initial;
    flex: 0 0 auto;
    margin-top: 0;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-size: 16px 16px;
    cursor: pointer;
}