/*'#9b786f', '#5D8694', '#7F9C89'*/

body {
	font-family: 'Baskervville-Regular', serif;
}

header {
	text-align: center;
	margin-bottom: 2rem;
}

header > div {
	margin-bottom: 1rem;
	position: relative;
}

header #pdf-title {
    padding: 1rem;
    background-color: #9b786f;
    color: white;
}

header #pdf-title > div {
	border: 1px solid white;
    padding: 1rem;
}

header #pdf-year::before {
  content: "This policy is valid for the years";
  display: block;
  font-size: 90%;
  line-height: 1;
}

.section-title {
	font-weight: bold;
	text-transform: uppercase;
	color: #5D8694;
	border-bottom: 1px solid;
    border-left: 4px solid;
    padding-left: 4px;
}

.signature::before {
	content: '';
	display: block;
	margin-top: 1rem; 
	width: 100%;
	height: 60px;
	background-color: #ede9d042;
}

.highlight-box {
	margin-bottom: 2rem; 
	text-align: center;
}

.highlight-box {
	padding-bottom: .5rem!important;
	border-bottom: 3px solid #ede9d042;
	padding-top: .5rem!important;
	border-top: 3px solid #ede9d042;
}
  
.signature-box {
	margin-bottom: 1rem;
}
