.blog-font p, .blog-font h4, .blog-font iframe {
	margin-bottom: 1.75rem;
}

#blog-post {
	p img {
		max-width: 100%;
		height: auto;
	}

	iframe {
		display: block;
	    margin: 0 auto;
	}

	.mce-excerpt {
		margin: 0 3rem;
		font-style: italic;
	}
	.vglnk {
	    margin-left: 3px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		display: block;
	}
}