.btn-primary {
	color: white !important;
	background-color: $brand-primary;
	border-color: $brand-primary;

	&:hover {
		color: white !important;
		background-color: darken($brand-primary, 4%);
		border-color: darken($brand-primary, 4%);
	}

	&:active {
		background-color: darken($brand-primary, 6%) !important;
		border-color: darken($brand-primary, 6%) !important;
	}

	&:focus {
		background-color: darken($brand-primary, 6%) !important;
		border-color: darken($brand-primary, 6%) !important;
	}
}

.btn-primary-outline {
	color: $brand-primary !important;
	background-color: transparent;
	border-color: $brand-primary;

	&:hover {
		color: white !important;
		background-color: $brand-primary;
		border-color: $brand-primary;
	}

	&:active {
		background-color: darken($brand-primary, 6%) !important;
		border-color: darken($brand-primary, 6%) !important;
	}

	&:focus {
		background-color: darken($brand-primary, 6%) !important;
		border-color: darken($brand-primary, 6%) !important;
	}
}

.btn-white {
	color: $brand-primary !important;
	background-color: white;
	border-color: white;

	&:hover {
		color: $brand-primary !important;
		background-color: white;
		border-color: white;
	}

	&:active {
		background-color: white !important;
		border-color: white !important;
	}

	&:focus {
		background-color: white !important;
		border-color: white !important;
	}
}