.btn-primary {
	color: white !important;
	background-color: var(--color-primary);
	border-color: var(--color-primary);

	&:hover {
		color: white !important;
		background-color: var(--color-primary-hover);
		border-color: var(--color-primary-hover);
	}

	&:active {
		background-color: var(--color-primary-active) !important;
		border-color: var(--color-primary-active) !important;
	}

	&:focus {
		background-color: var(--color-primary-active) !important;
		border-color: var(--color-primary-active) !important;
	}

	&:disabled {
		background-color: var(--color-primary-disabled) !important;
		border-color: var(--color-primary-disabled) !important;
	}
}

.btn-primary-outline {
	color: var(--color-primary) !important;
	background-color: transparent;
	border-color: var(--color-primary);

	&:hover {
		color: white !important;
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}

	&:active {
		background-color: var(--color-primary-active) !important;
		border-color: var(--color-primary-active) !important;
	}

	&:focus {
		background-color: var(--color-primary-active) !important;
		border-color: var(--color-primary-active) !important;
	}

	&:disabled {
		background-color: var(--color-primary-disabled) !important;
		border-color: var(--color-primary-disabled) !important;
	}
}

.btn-white {
	color: var(--color-primary) !important;
	background-color: white;
	border-color: white;

	&:hover {
		color: var(--color-primary) !important;
		background-color: white;
		border-color: white;
	}

	&:active {
		background-color: white !important;
		border-color: white !important;
	}

	&:focus {
		background-color: white !important;
		border-color: white !important;
	}

	&:disabled {
		background-color: white !important;
		border-color: white !important;
	}
}