.rounded-circle { border-radius: var(--radius-circle) !important; }

.rounded {
    border-radius: var(--radius) !important;
}

.btn { border-radius: var(--radius-button) !important; }

input, textarea, select {
    border-radius: var(--radius-input);
}

.rounded-bottom, .rounded-start, .rounded-left {
    border-bottom-left-radius: var(--radius)!important;
}
.rounded-bottom, .rounded-end, .rounded-right {
    border-bottom-right-radius: var(--radius)!important;
}
.rounded-end, .rounded-right, .rounded-top {
    border-top-right-radius: var(--radius)!important;
}
.rounded-start, .rounded-left, .rounded-top {
    border-top-left-radius: var(--radius)!important;
}


.rounded-1, .rounded-sm {
    border-radius: var(--radius-sm)!important;
}
.rounded-sm-bottom, .rounded-sm-left {
    border-bottom-left-radius: var(--radius-sm)!important;
}
.rounded-sm-bottom, .rounded-sm-right {
    border-bottom-right-radius: var(--radius-sm)!important;
}
.rounded-sm-right, .rounded-sm-top {
    border-top-right-radius: var(--radius-sm)!important;
}
.rounded-sm-left, .rounded-sm-top {
    border-top-left-radius: var(--radius-sm)!important;
}
