body {
	letter-spacing: .025em;
}

h1 {
	font-size: 2.75rem;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.font-serif {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: normal;
	letter-spacing: .003em;
}

.blog-post {
	font-size: 1.15em;
	letter-spacing: .025em;
}